/* 公共版式 */
.wrapper {
  display: flex;
  margin: auto;
  width: 1152px;
}
/* header */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
  z-index: 2;
}
/* logo */
.header .logo {
  display: block;
  margin: 15px 60px 15px 0;
  width: 100px;
  height: 50px;
  background: transparent url(../images/logo.png) no-repeat center/contain;
  font-size: 0;
}
/* manu */
.header .manu {
  flex:1;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.header .manu li {
  display: block;
  margin-right: 31px;
  padding: 0 7px;
  height: 40px;
  line-height: 40px;
}
.header .manu .select 
{
  border-bottom: 2px solid #B1768E;
}
.header .manu li:hover {
  border-bottom: 2px solid #B1768E;
}
/* search */
.header .search {
  display: flex;
  margin: 20px 18px 20px 0;
  width: 416px;
  height: 40px;
  background: #E9E9E9;
  border-radius: 20px;
}
.header .search input {
  flex: 1;
  padding-left: 10px;
  background: #E9E9E9;
  border-radius: 20px;
  border: 0;
  outline: none;
}
.header .search input::placeholder {
  color: #999;
}
.header .search a {
  width: 24px;
  height: 24px;
  margin: 8px 12px 8px 0;
  background-image: url(../images/search.png);
}
/* user */
.header .user a {
  display: flex;
  margin: 20px 0 20px 0;
}
.header .user img {
  margin-right: 18px;
  border-radius: 20px;
}
.header .user span {
  display: block;
  padding: 12px 0 12px 0;
  font-size: 16px;
  line-height: 16px;
  color: #5C5C5C;
}
/* banner */
.banner .wrapper {
  justify-self: center;
  margin-top: 80px;
  width: 1152px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
/* banner img */
.banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.banner .prev,
.banner .next {
  display: none;
  width: 40px;
  height: 50px;
  position: absolute;
  background: rgba(0,0,0,0.25);
  top: 50%;
  transform: translateY(-50%);
}
.banner .prev {
  border-radius: 0 25px 25px 0;
}
.banner .next {
  right: 0;
  border-radius: 25px  0 0 25px;
}
.banner:hover .prev,
.banner:hover .next {
  display: block;
}
.banner span {
  display: block;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: white;
}
.banner .circle {
  display: flex;
  width: 1152px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
}
.banner .circle li {
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s;
  width: 14px;
  height: 14px;
  background: rgba(0,0,0,0.25);
  border-radius: 7px;
}
.banner .circle li:hover,
.banner .circle .active {
  width: 18px;
  height: 18px;
  background: rgba(0,0,0,0.45);
  border-radius: 9px;
}
.content {
  display: flex;
}
/* diary_column */
.content .diary_column {
  margin: 18px 16px 0 0;
  width: 373px;
  height: 446px;
  background: #FFFFFF;
  box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.25);
  border-radius: 20px 20px 20px 20px;
}
/* title */
.content .diary_column .title {
  display: flex;
  justify-content: space-between;
  width: 373px;
  height: 76px;
  padding: 18px;
}
.content .diary_column .title li {
  display: block;
  width: 100px;
  height: 40px;
  background: rgba(177,118,142,0.7);;

  color: #FFFFFF;
  font: 700 16px normal;
  line-height: 40px;
  text-align: center;
  letter-spacing: 3px;

  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.25);
  border-radius: 20px 20px 20px 20px;
}
.content .diary_column .title .active,
.content .diary_column .title li:hover {
  background-color: #B1768E;
}
/* text */
.content .diary_column .text {
  padding: 0 18px 18px 18px;
  width: 373px;
  height: 360px;
}
.content .diary_column .text li {
  margin-bottom: 16px;
  height: 40px;
  font: 500 16px normal;
  line-height: 40px;
  letter-spacing: 3px;
  border-bottom: 1px solid #5C5C5C;
}
/* memo */
.content .memo {
  margin-top: 18px;
  width: 768px;
  height: 446px;
  background: #FFFFFF;
  border-radius: 0px 0px 0px 0px;
}
.content .memo .title {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 768px;
  height: 40px;
}
.content .memo .title .bak {
  margin-right: 15px;
  width: 14px;
  height: 40px;
  background: #B1768E;
}
.content .memo .title p {
  flex: 1;
  font: 700 24px normal;
  letter-spacing: 4px;
  line-height: 40px;
}
.content .memo .title span {
  align-self: flex-end;
  font:normal 400 16px normal;
}
.content .memo .title i {
  align-self: flex-end;
  font:normal 400 16px normal;
}
.content .memo ul {
  display: flex;
  justify-content: space-between;
  width: 768px;
  height: 376px;
}
.content .memo ul li {
  display: block;
  width: 244px;
  background: #FFFFFF;
  box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.25);
  border-radius: 20px 20px 20px 20px;
}
.content .memo li strong {
  display: block;
  height: 40px;
  font: 700 16px normal;
  line-height: 40px;
  letter-spacing: 3px;
  text-align: center;
}
.content .memo li div {
  padding: 0 16px 0 16px;
  line-height: 24px;
}
.content .memo li i {
  font-style: normal;
}
.content .memo li .text {
  text-indent: 2em;
}
/* pic */
.pic_title {
  margin: 18px 0;
  height: 80px;
  font: 700 32px normal;
  color: #5C5C5C;;
  line-height: 80px;
  text-align: center;
  letter-spacing: 30px;
}
.pic {
  margin-bottom: 57px;
  height: 495px;
}
.pic ul{
  display: flex;
  width: 1152px;
  justify-content: space-between;
}
.pic ul li {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 156px;
  overflow: hidden;
}

.pic ul li:nth-child(2n) {
  padding-top: 76px;
}
/* light */
.light {
  overflow: hidden;
  height: 200px;
}
.light img {
  margin: 0 12px;
}
@keyframes trans {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1472px);
  }
}
.light .ull {
  display: flex;
  animation: trans 6s infinite linear;
}
.light .ull:hover {
  animation-play-state: paused;
}
/* footer */
.footer {
  height: 300px;
}
