.calender {
  display: flex;
  margin-top: 16px;
  width: 1152px;
  height: 280px;
}

.calender .myblock {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}

.calender .myblock .myself {
  margin-right: 16px;
  width: 180px;
  height: 180px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
}

.calender .myblock .myself .user {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
}

.calender .myblock .myself p {
  margin: auto;
  font-size: 20px;
  text-align: center;
  color: #5d5d5d;
  line-height: 20px;
}

.calender .myblock .date {
  padding: 20px;
  width: 524px;
  height: 180px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
}

.calender .myblock .date ul {
  display: flex;
  height: 40px;
  color: #B1768E;
  font: 700 20px/20px normal;
}

.calender .myblock .date ul li:first-child {
  margin-right: 84px;
}

.calender .myblock .date .sign {
  font: 400 20px/36px normal;
}

.calender .myblock .date .sign p:first-child {
  font-weight: 700;
}

.calender .myblock .date .sign p:nth-child(2) {
  text-indent: 2em;
}

.calender .myblock .sentence {
  display: flex;
  margin-top: 16px;
  padding: 4px 12px;
  font-size: 16px;
  line-height: 30px;
  width: 720px;
  height: 84px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
}

.calender .myblock .sentence div {
  align-content: center;
}

.calender .mytime {
  margin-left: 16px;
  width: 416px;
  height: 280px;
  background: #fff;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
}

.calender .mytime h2 {
  margin: 24px auto 28px;
  padding-left: 20px;
  font-size: 24px;
  letter-spacing: 3px;
}

.calender .mytime .time {
  display: flex;
  margin: 16px auto 16px;
  justify-content: space-between;
  width: 360px;
  height: 100px;
  font: 700 40px/100px normal;
  text-align: center;
}

.calender .mytime .time li {
  display: block;
  width: 70px;
  height: 100px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
}

.calender .mytime .time li:first-child {
  width: 80px;
  margin-right: 20px;
}

.calender .mytime .unit {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 360px;
  height: 100px;
  font: 700 30px/48px normal;
  color: #B1768E;
  text-align: center;
}

.calender .mytime .unit li {
  display: block;
  width: 70px;
  height: 48px;
}

.calender .mytime .unit li:first-child {
  width: 80px;
  margin-right: 20px;
}


/* banner */
.banner .wrapper {
  justify-self: center;
  margin-top: 90px;
  width: 1152px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

/* banner img */
.banner .banner_pic {
  display: flex;
  width: 1152px;
  height: 400px;
  transition: all 1.5s;
}

.banner .banner_pic img {
  transform: translateY(-45%);
}

.banner .prev,
.banner .next {
  display: none;
  width: 40px;
  height: 50px;
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  top: 50%;
  transform: translateY(-50%);
}

.banner .prev {
  border-radius: 0 25px 25px 0;
}

.banner .next {
  right: 0;
  border-radius: 25px 0 0 25px;
}

.banner:hover .prev,
.banner:hover .next {
  display: block;
}

.banner span {
  display: block;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.banner .circle {
  display: flex;
  width: 1152px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 24px;
}

.banner .circle li {
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s;
  width: 14px;
  height: 14px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.banner .circle li:hover,
.banner .circle .active {
  width: 18px;
  height: 18px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 9px;
}

.content {
  display: flex;
}

/* diary_column */
.content .diary_column {
  margin: 18px 16px 0 0;
  width: 373px;
  height: 446px;
  background: #FFFFFF;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
  /* border-radius: 20px */
}

/* title */
.content .diary_column .title {
  display: flex;
  justify-content: space-between;
  width: 373px;
  height: 76px;
  padding: 18px;
}

.content .diary_column .title li {
  display: block;
  width: 100px;
  height: 40px;
  background: rgba(177, 118, 142, 0.7);
  ;

  color: #FFFFFF;
  font: 700 16px normal;
  line-height: 40px;
  text-align: center;
  letter-spacing: 3px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
  /* border-radius: 20px; */
}

.content .diary_column .title .active,
.content .diary_column .title li:hover {
  background-color: #B1768E;
}

/* text */
.content .diary_column .text {
  display: none;
  padding: 0 18px 18px 18px;
  width: 373px;
  height: 360px;
}

.content .diary_column .txt .active {
  display: block;
}

.content .diary_column .text li {
  margin-bottom: 16px;
  height: 40px;
  font: 500 16px normal;
  line-height: 40px;
  letter-spacing: 3px;
  border-bottom: 1px solid #5C5C5C;
}

/* memo */
.content .memo {
  margin-top: 18px;
  width: 768px;
  height: 300px;
  background: #FFFFFF;
}

.content .memo .title {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 768px;
  height: 40px;
}

.content .memo .title .bak {
  margin-right: 15px;
  width: 14px;
  height: 40px;
  background: #B1768E;
}

.content .memo .title p {
  flex: 1;
  font: 700 24px normal;
  letter-spacing: 4px;
  line-height: 40px;
}

.content .memo .title span {
  align-self: flex-end;
  font: normal 400 16px normal;
}

.content .memo .title i {
  align-self: flex-end;
  font: normal 400 16px normal;
}

.content .memo ul {
  display: flex;
  justify-content: space-between;
  width: 768px;
  height: 230px;
}

.content .memo ul li {
  display: block;
  width: 244px;
  background: #FFFFFF;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
  /* border-radius: 20px; */
}

.content .memo li strong {
  display: block;
  height: 40px;
  font: 700 16px normal;
  line-height: 40px;
  letter-spacing: 3px;
  text-align: center;
}

.content .memo li div {
  padding: 0 16px 0 16px;
  line-height: 24px;
}

.content .memo li i {
  font-style: normal;
}

.content .memo li .text {
  text-indent: 2em;
}

/* handle */
.content .handle {
  margin-top: 16px;
  padding: 20px 20px;
  width: 768px;
  height: 130px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
}

.content .handle .task {
  display: flex;
}

.content .handle .task p {
  margin-right: 40px;
  margin-bottom: 12px;
  font: italic 400 24px/40px normal;
}

.content .handle .task p strong {
  font-size: 28px;
}

.content .handle .task p:last-child strong {
  color: #8f4f69;
}

.content .handle .button {
  text-align: center;
}

.content .handle .button button {
  margin-right: 40px;
  width: 100px;
  height: 36px;
  border-radius: 20px;
  font: 400 16px/36px normal;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #8f4f69;
}

/* pic */
.pic_title {
  display: flex;
  align-items: flex-start;
  margin: 18px auto;
  height: 40px;
}

.pic_title .bax {
  margin-right: 15px;
  width: 14px;
  height: 40px;
  background: #B1768E;
}

.pic_title p {
  width: 100%;
  font: 700 24px normal;
  letter-spacing: 4px;
  line-height: 40px;
  text-align: left;
}

.pic_title button {
  display: block;
  width: 100px;
  height: 40px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  /* border-radius: 15px; */
  letter-spacing: 4px;
  background: #B1768E;
  border: 1px solid #B1768E;
  cursor: pointer;
}

.pic_title button:hover {
  background: #8f4f69;
}

.pic {
  margin-bottom: 57px;
  height: 520px;
}

.pic ul {
  display: flex;
  width: 1152px;
  justify-content: space-between;
}

.pic ul li {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 156px;
  overflow: hidden;
}

.pic ul li img {
  margin: 10px 0;
}

/* light */
.light {
  overflow: hidden;
  height: 200px;
}

.light img {
  margin: 0 12px;
}

@keyframes trans {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-1472px);
  }
}

.light .ull {
  display: flex;
  animation: trans 6s infinite linear;
}

.light .ull:hover {
  animation-play-state: paused;
}

/* footer */
.footer {
  margin-top: 20px;
  height: 200px;
}

.line {
  width: 1152px;
  margin: auto;
  height: 0px;
  border: 1px solid #D8D8D8;
}

.footer .image {
  width: 240px;
  background-image: url(../images/pic.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 300px;
}

.footer li {
  /* padding: 10px; */
  width: 128px;
  height: 128px;
  background: #D9D9D9;
  border-radius: 10px 10px 10px 10px;
}

.footer .ll {
  margin-top: 20px;
  margin-left: 60px;
  width: 0;
  height: 128px;
  border-right: 1px solid #D9D9D9;
}

.footer .content {
  margin-top: 20px;
  flex: 1;
  justify-content: flex-end;
}

.footer dl {
  width: 100px;
  margin-right: 50px;
}

.footer dt {
  margin-bottom: 16px;
  font: 400 18px normal;
}

.footer dd {
  margin-top: 6px;
}